path#linea {
    fill: none;
    stroke-width: 1px;
    stroke: black;
}

.line{
    fill:red;
    stroke-width: 1px;
}

.Gisele-Bündchen{
    fill:#003f5c
}

.Bar-Rafaeli{
    fill:#2f4b7c
}

.Blake-Lively{
    fill:#665191
}

.Erin-Heatherson{
    fill:#a05195
}

.Toni-Garrn{
    fill:#d45087
}

.Kelly-Rohrbach{
    fill:#f95d6a
}

.Nina-Agdal{
    fill:#ff7c43
}

.Camila-Morrone{
    fill:#ffa600
}

.bar:hover{
    stroke: black;
    stroke-width: 2
}



